<div class='section-title plus'>分类信息</div>

<div class='proto plus'>

	<table class='default' border='0' cellspacing='0' cellpadding='0'>
		<tr>
			<th class='first'>分类</th>
		</tr>
		<tbody>
			<tr>
                              <% if @event.classification == nil || @event.classification.classification_name == nil%>
			        <td class='first'>N/A</td>
                              <% else %>
                                <td class='first'><%= @event.classification.classification_name %></td>
                              <% end %>
			</tr>
		</tbody>
	</table>
	
</div>
